page {
    height: 100%;
    .team {
        .title {
            height: 80rpx;
        }
    }
    .capital {
        height: 200rpx;
    }
    .taam-box {
        .taam-title {
            padding: 0 30rpx 0 25rpx;
        }
    }
}